/node_modules
/public/hot
/public/storage
/public/static
/public/config.js
/public/service-worker.js
/public/asset-manifest.json
/public/manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.gz
